:root {
    --accent-transition: .7s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2vw;
}

body {
    font-family: "Roboto";
    line-height: 1.5;
    color: #312C27;
    background: #FFF9F4;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}